<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>About</h1>
<p>
  <a href="#"><em>Prof-Folio</em></a> is  a 
  <a href="#"><em>library book for teachers</em></a> and 
  <a href="#/"> screencast</a>
  to teach, record and help teachers remember their students 
  <a href="#">Prof-Folio</a>.
  This is a web application for teachers.
</p>
</body>
</html>